@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*
@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  #button-menu {
    display: none;
  }
}
*/